
body
 {
  font-family: 'Times New Roman', Times, serif;
  margin: 10px;
  padding:30px;
}
.card
 {
  max-width: 600px;
  margin: 10px;
  padding: 20px 30px;
  background-color:rgb(13, 38, 233);
  border-radius: 8px;
}
p
 {
  font-size: 18px;           
  color: rgb(239, 235, 235);           
}
.description 
{
  text-align: justify;         
}
